# Application
NODE_ENV=development
PORT=3001

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=your_password
DB_DATABASE=pos

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_TTL=60

# JWT
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=1d

# Sentry
SENTRY_DSN=your_sentry_dsn

# Frontend
FRONTEND_URL=http://localhost:3000
